
@font-face {
  font-family: 'Caslon Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style:  normal;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  normal;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  italic;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-italic.ttf') format('truetype');
}
/* #### Generated By: http://www.fontget.com #### */

@font-face {
  font-family: 'Essays 1743';
  font-style: normal;
  font-weight: 700;
  src: local('essays1743.bold'), url('essays1743.bold.woff') format('woff');
}
@font-face {
  font-family: 'Essays 1743';
  font-style: italic;
  font-weight: 700;
  src: local('essays1743.bolditalic'), url('essays1743.bolditalic.woff') format('woff');
}
@font-face {
  font-family: 'Essays 1743';
  font-style: italic;
  font-weight: 400;
  src: local('essays1743.italic'), url('essays1743.italic.woff') format('woff');
}
@font-face {
  font-family: 'Essays 1743';
  font-style: normal;
  font-weight: 400;
  src: local('essays1743.medium'), url('essays1743.medium.woff') format('woff');
}