
@font-face {
  font-family: 'Caslon Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style:  normal;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  normal;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  italic;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Essays1743';
  font-style: normal;
  font-weight: 700;
  src: local('essays1743.bold'), url('essays1743.bold.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  font-weight: 700;
  src: local('essays1743.bolditalic'), url('essays1743.bolditalic.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  font-weight: 400;
  src: local('essays1743.italic'), url('essays1743.italic.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: normal;
  font-weight: 400;
  src: local('essays1743.medium'), url('essays1743.medium.woff') format('woff');
}

@font-face {
  font-family: 'Middle Earth';
  font-style: normal;
  font-weight: 400;
  src: url('middle-earth.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth';
  font-style: italic;
  font-weight: 400;
  src: url('middle-earth-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth';
  font-style: normal;
  font-weight: 700;
  src: url('middle-earth-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth';
  font-style: italic;
  font-weight: 700;
  src: url('middle-earth-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth Left';
  font-style: italic;
  font-weight: 400;
  src: url('middle-earth-italic-left.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('middle-earth-condensed.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('middle-earth-condensed-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('middle-earth-expanded.ttf') format('truetype');
}
@font-face {
  font-family: 'Middle Earth Expanded';
  font-style: italic;
  font-weight: 400;
  src: url('middle-earth-expanded-italic.ttf') format('truetype');
}