
@font-face {
  font-family: 'Caslon Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./caslon-antique-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style:  normal;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Caslon Antique';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./caslon-antique-bold-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  normal;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-normal.ttf') format('truetype');
}
@font-face {
  font-family: 'JSL Ancient';
  font-style:  italic;
  font-display: swap;
  font-weight: 400;
  src: url('./jsl-ancient-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Essays1743';
  font-style: normal;
  font-weight: 700;
  src: local('essays1743.bold'), url('essays1743.bold.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  font-weight: 700;
  src: local('essays1743.bolditalic'), url('essays1743.bolditalic.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: italic;
  font-weight: 400;
  src: local('essays1743.italic'), url('essays1743.italic.woff') format('woff');
}
@font-face {
  font-family: 'Essays1743';
  font-style: normal;
  font-weight: 400;
  src: local('essays1743.medium'), url('essays1743.medium.woff') format('woff');
}

@font-face {
  font-family: 'MiddleEarth';
  font-style: normal;
  font-weight: 400;
  src: url('HalfElven-gzj4.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth';
  font-style: italic;
  font-weight: 400;
  src: url('HalfElvenItalicItalic-4O3l.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth';
  font-style: normal;
  font-weight: 700;
  src: url('HalfElvenBoldBold-EMqj.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth';
  font-style: italic;
  font-weight: 700;
  src: url('HalfElvenBoldItalicBoldItalic-azBm.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth-Left';
  font-style: italic;
  font-weight: 400;
  src: url('HalfElvenLeftalicItalic-0eDP.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth-Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('HalfElvenCondensedCondensed-ozB4.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth-Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('HalfElvenCondensedItalicCondensedItalic-3EO3.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth-Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('HalfElvenExpandedExpanded-Z3KB.ttf') format('truetype');
}
@font-face {
  font-family: 'MiddleEarth-Expanded';
  font-style: italic;
  font-weight: 400;
  src: url('HalfElvenExpandedItalicExpandedItalic-OXZe.ttf') format('truetype');
}